{%extends 'base.html'}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Checkout</h1>
                <p class="lead fw-normal text-white-50 mb-0">Review you Order...</p>
            </div>
        </div>
    </header>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                    <div class="card-header">Order Summary</div>
                    <div class="card-body">
                        {% for product in cart_products%}
                            {{product.name}}
                            $:{{product.price}}
                            
                        {% endfor %}
                        <small>Quantity:
                        <select class="form-select form-select-sm" id="select{{product.id}}">
                            {% for key, value in quantities.items %} 
                            {% if key == product.id|slugify %}
                                <option selected>{{ value }}</option>
                            {% endif %} 
                            {% endfor %}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></small>
                        <br><br>
                        <strong>Total:{{totals}}Rs.</strong>
                        <br>
                        <a href="{% url 'cart_summary'%} class="btn btn-sm btn-outfit-secondary>Update Item</a>
                    </div>
                    </div>
                </div>
            <br><br>
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    <form method="POST" action="{% utl 'billing_info'%}">
                        {% csrf_token %}
                    {{shipping_form.as_p}}
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Continue to Billing</button>
            </form>
            </div>
        </div>

    
{% endblock %}