{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Heading -->
<div style="text-align: center">
  <h1
    style="
      margin: 0;
      line-height: 100px;
      font-family: Arial, sans-serif;
      color: #333;
    "
  >
    View Your Cart!!
  </h1>
</div>

<!-- Search bar -->
<div style="text-align: center; margin-top: 50px">
    <input
      type="text"
      id="cartSearch"
      placeholder="Search Cart Products...."
      style="padding: 10px; width: 300px; font-size: 16px; border: 2px"
    />
    <p id="noMatchMsg" style="display: none; color: red; margin-top: 10px;">
    No matching products found in cart.
    </p>
  <br /><br />
</div>
<!-- Product container -->
<div
  class="container"
  style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: flex-start"
>
  {% if cart_products %} {% for product in cart_products %}

  <div class="product">
    <div class="product-cart">
      <div>
        <img
          class="product-image"
          src="{{ product.image.url }}"
          style="width: 100%; height: auto"
        />
      </div>
      <div class="product-details">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.price}}</p>
        <p class="card-text">{{product.category}}</p>
        <p class="card-text">{{product.description}}</p>
        <p>
          Quantity:
          <select class="form-select form-select-sm" id="select{{product.id}}">
            {% for key, value in quantities.items %} 
              {% if key == product.id|slugify %}
                <option selected>{{ value }}</option>
              {% endif %} 
            {% endfor %}
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </p>
        <button type="button" data-index="{{ product.id }}" class="buy-cart">Buy-Now</button>
        <button type="button" data-index="{{ product.id }}" class="update-cart">Update Item</button>
        <button type="button" data-index="{{ product.id }}" class="delete-cart" style="background-color: #ff0000">Remove Item</button>
        <p><a href="{% url 'home' %}">Home</a></p>
      </div>
    </div>
  </div>
  <br />

  {% endfor %}
  <div style="flex-basis: 100%; text-align: left; margin-top: 20px;">
    <h3>Total Amount: ${{ totals }}</h3>
  </div> 
  {% else %}
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh; width: 100%;">
    <h2 style="text-align: center">
        <p style="font-size: 150px; text-align: center;">🛒</p>
        Your Cart is empty like your love life 😝 <br>
        Browse Our Page to fill this emptiness... ✨
    </h2>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  // Update Cart
  $(document).on("click", ".update-cart", function (e) {
    e.preventDefault();
    //grab the product id
    var productid = $(this).data('index');

    $.ajax({
        type: "POST",
        url: "{% url 'cart_update' %}",
        data: {
            product_id: $(this).data('index'),
            product_qty: $("#select" + productid + " option:selected").val(),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: "post",
          },

          success: function (json) {
            //console.log(json);, update it live
            //document.getElementById("cart_quantity").textContent = json.qty;
            location.reload();
          },

          error: function (xhr, errmsg, err) {
            console.error("Error updating to cart:", errmsg);
          },
        });
      });

  // Live filter for cart products
  $(document).ready(function () {
    $("#cartSearch").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      var found = false;

      $(".product-cart").each(function () {
        var productName = $(this).find(".card-title").text().toLowerCase();

        if (productName.indexOf(value) > -1) {
          $(this).show();
          found = true;
        } else {
          $(this).hide();
        }
    });

    // Show or hide the 'no match' message
    if (!found) {
      $("#noMatchMsg").show();
    } else {
      $("#noMatchMsg").hide();
    }
  });
});
  // Delete Cart
$(document).on("click", ".delete-cart", function (e) {
    e.preventDefault();
    //grab the product id
    //var productid = $(this).data('index');

    $.ajax({
    type: "POST",
    url: "{% url 'cart_delete' %}",
    data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: "post",
    },

    success: function (json) {
        //console.log(json);, update it live
        //document.getElementById("cart_quantity").textContent = json.qty;
        location.reload();
    },

    error: function (xhr, errmsg, err) {
        console.error("Error deleteing to cart:", errmsg);
    },
  });

});

</script>

{% endblock %}




